@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-thumb {
  background-color: #666;
}
body::-webkit-scrollbar {
  width: 8px;
  background-color: #ccc;
  border-radius: 5px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
