@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-thumb {
  background-color: #666;
}
body::-webkit-scrollbar {
  width: 8px;
  background-color: #ccc;
  border-radius: 5px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.skeleton{
  animation: skeleton 1s linear infinite alternate;
}

.active{
  background-color: #007BFF;
  border-radius: 8px;
  padding: 4px 8px;
}

@keyframes skeleton {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

#cartsCheckout::-webkit-scrollbar{
  width: 5px;
  background-color: #ccc;
  border-radius: 5px;
}

#cartsCheckout::-webkit-scrollbar-thumb {
  background-color: #999;
}

.background{
  background-color: #222222;
}
.bg-box{
  background-color: #2a2a2a;
}
.sidebar{
  background: rgb(225,78,202);
  background: linear-gradient(173deg, rgba(225,78,202,1) 0%, rgba(236,105,105,1) 100%);
  width: 100px !important;
}
.tab{
  margin-left: 100px;
  min-height: 100vh;
}
.Footer{
  margin-left: 100px;
}
/* reponsive */
@media screen and (max-width: 575px) {
  .tab, .Footer{
    margin-left: 0%;
  }
  .sidebar{
    width: auto !important;
  }
}
/* Hover animation */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: whitesmoke;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

a{
  text-decoration: none !important;
}

ul{
  padding: 0 !important;
  margin: 0 !important;
}

p{
  margin: 0 !important;
}